.main-container {
    position: relative;
    top: 40px;
    width: 82%;
    margin-left: 92px;
  }
  
  .job-list {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .job-list-item {
    /* position: absolute; */
    top: 0;
    width: 98%;
    height: 132px;
    border: 2px solid #E4E5E8;
    border-radius: 10px;
    /* box-sizing: border-box; */
    margin-bottom: 30px;
    margin-left: 34px;
  }
  
  .avt-company-img {
    height: 68px;
    width:68px;
    border-radius: 4px;
  
  }
  
  .job-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 20px;
  }
  
  .job-detail-left {
    display: flex;
    justify-content: space-between;
  }
  
  .job-type {
    display: flex;
    /* justify-content: space-around; */
  }
  
  .job-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  
  .job-info-top {
    display: flex;
  }
  
  .job-info-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .job-hust{
    background-color: #F9DCDC;
    border-radius: 52px;
    height: 26px;
    width: 116px;
    text-align: center;
    margin-left: 10px;
    margin-right: 3px;
  
  }
  
  .job-txt-1 {
    padding-top: 2px;
    color: #FF0000;
    font-size: 14px;
    font-weight: 400;
  }
  
  .job-fulltime {
    background-color: #E8F1FF;
    border-radius: 52px;
    height: 26px;
    width: 116px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
  
  }
  
  .job-txt-2 {
    padding-top: 2px;
    color: #0A65CC;
    font-size: 14px;
    font-weight: 400;
  }
  
  .btn-sub {
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    background-color: #E7F0FA;
    width: 183px;
    height: 48px;
    text-align: center;
    border: none;
    padding-top: 12px;
  }
  
  .btn-txt {
    font-size: 16px;
    color: #0A65CC;
  }
  